<div ng-hide="min" class="window" cdkDrag mwlResizable
[enableGhostResize]="false"
[resizeEdges]="{bottom: true, right: true, top: false, left: false}"
(resizeEnd)="onResizeEnd($event)" >
    <div class="top-bar" cdkDragHandle ng-hide="min">
            <span class="window-title">{{ name }}</span>
            <span class="pad"></span>
            <span class="windows-menu" (click)="minimize()">-</span>            
            <span class="windows-menu" (click)="close()">X</span>
    </div>
    <div class="window-body" >
            <object type="text/html" data="http://validator.w3.org/" width="100%" height="100%" style="overflow:auto;border:5px ridge blue">
            </object>
    </div>