.window {
    border-width: 3px;
    width: 500px;
    height: 500px;
    background-color: #C0C0C0;
  }
.top-bar{
    background-color: #000080;
    width: 100%;
    height: 20px;
}
.window-body{
    width:100%;
    height: 100%;
}
mwlResizable {
    box-sizing: border-box;
}
.window-title{
    position: relative;
    color: white;
    width: 80%;
    display: inline-block;    
}
.windows-menu{
    width: 8%;
    color: white;
    display: inline-block;  
}
.pad{
    width: 4%;
    display: inline-block;
}
.nav-bar{
    width: 100%;
    height: 20px;
}